{
	"presets": [
		["env", {
			"targets": {
	      "browsers": [
					"> 1%",
          "iOS >= 8.0",
          "Android >= 4.4",
          "Chrome >= 30",
          "Safari >= 9",
          "Firefox ESR",
          "Opera 12.1"
				]
	    },
			"useBuiltIns": true,
      "debug": false
		}]
	],
	"plugins": ["transform-object-rest-spread"]
}
